body {
  font-family: Arial;
  padding: 20px;
  background: #f5f5f5;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

.container {
  width: 90%;
  margin: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 40px;
  background: white;
}

th, td {
  border: 1px solid #ddd;
  padding: 10px;
}

th {
  background: black;
  color: white;
}

.login-box {
  margin: 80px auto;
  width: 300px;
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
}



